@model LocaliztionCRUD.DAL.RisorseLocalizzazioneLabel

@{
    ViewBag.Title = "Cancel";
}

<h2>Cancel</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>RisorseLocalizzazioneLabel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.idModulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idModulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.labelFor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.labelFor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lingua)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lingua)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.label)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.label)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
